/* common styles*/
    body{
        background-color: #F7F7F7;
        font-family: Arial, Verdana, sans-serif;
        color: #5a5a5a;
    }

    /*Set the fixed height of the footer here */
    html,body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -41px;
    }

    #push, #footer {
        height: 40px;
    }
    #footer {
        background-color: #E3E3E3;
        border-top: 1px solid #d1d1d1;
    }


    /* temporary styles */
    #footer p{
        margin: 0;
    }
    p{
        padding: 8px;
    }